/* this is body tag style */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
/* header section style */
.top-section{
    display: flex;
    margin-bottom: 50px;
}
.part-of-header-section{
    width: 40%;
    margin:5%;
    
}
#influencer-products{
    font-weight: 700;
    margin-bottom: 150px;
}
.part-of-header-section h1{
font-size: 3em;
font-weight: 700;
}
.part-of-header-section p{
    font-size: 18px;
}
#prebook{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(247, 103, 103);
    border-radius: 20px;
    color: white;
    margin: 5px;
    padding: 7px;
}
.part-of-header-section:hover img{
   transform: scale(1.6);
   transition: transform 2s ease-in-out;


}
/* end of header section style */

/* popula product section */
.popular-collection{
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 40px;
}
.all-products{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 30px 30px;
margin-left: 7%;
margin-right: 7%;

}
.product{
    /* border: 2px solid red; */
    padding: 4%;
    box-shadow:5px 5px 5px 5px rgb(197, 187, 187);
    border-radius: 10px;
}
.photo{
    width: 100%;
    border-radius: 5px;
}
.cheked{
    font-size: 10px;
    color: orange;
}
#no-chekced{
    font-size: 10px;
}
.see-more{
    text-align: right;
    color:rgb(247, 103, 103) ;
    margin-right: 6%;
    padding: 15px;
}
/*end of popula product section */

/* this is bonus section Available color  */
.availabl-color{
    box-shadow:5px 5px 5px 5px gray;
    margin-left: 11%;
    padding: 20px;
    width: 75%;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;
}
.headphoes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
}

.headphone{
    margin:5%;
}

.headphone img{
width: 100%;
border-radius: 5%;

}
/* footer section style */
.footer-section{
    color: white;
    text-align: center;
    background-color: rgb(42, 42, 56);
    padding: 15px;
}
.footer-section i{
   background-color: rgb(104, 102, 102);
    border-radius: 50%;
    padding: 5px;
    margin: 7px;
}
.footer-section p{
    font-size: 15px;
}